.header {
    display: flex;
    /* max-width: 100%; */
    flex-direction: row;
    box-shadow: 0px 1px 4px 2px #ebebeb;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 2;
}

.login {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-right: 50px;
}

.num-cart-pokemons {
    position: absolute;
    top: -11px;
    right: -8px;
    padding: 0;
}


.pagination-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center
}

.page-num {
    font-size: 20px;
}